# File generati dalla compilazione LaTeX
*.aux
*.log
*.toc
*.fls
*.out
*.bbl
*.bcf
*.blg
*.run.xml
*.fdb_latexmk
*.synctex.gz
*.synctex
*.acn
*.acr
*.alg
*.glo
*.gls
*.glg
*.ist
*.lof
*.lot
*.lol
*.xmpdata
*.lua
*.xmpi

# tutto ciò che è dentro la cartella build/ viene ignorato (corretto)
build/
*-SAVE-ERROR

# PDF generati (tieni solo quelli che vuoi committare esplicitamente)
*thesis.pdf
